/* EXTRA LARGE - Monitores grandes */
main,
.ideias,
.grid,
.mini-bio,
.form-contato,
.faq-container,
.painel-bloco {
  max-width: 1200px;
  margin: 0 auto;
}

.banner {
  width: 100%;
}

.conteudo-banner {
  max-width: 1100px;
}

.filtros-match {
  grid-template-columns: repeat(4, 1fr);
}

.cards-profissionais {
  grid-template-columns: repeat(3, 1fr);
}
