/*LARGE - Monitores grandes */
body {
  font-size: 16px;
}

main,
.ideias,
.intro-categoria,
.grid,
.faq-container,
.painel-bloco,
.mini-bio {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.banner {
  width: 100%;
  margin-top: 100px;
}


.filtros-match {
  display: grid;
  grid-template-columns: repeat(4, minmax(180px, 1fr));
  gap: 12px;
}

.cards-profissionais {
  display: grid;
  grid-template-columns: repeat(3, minmax(260px, 1fr));
  gap: 18px;
}
